* {
    color:#333333;
}
p{
    margin-bottom:1px;
}

.photos {
    margin-top:50px;
    display:flex;
    justify-content: center; 
    align-items:center;
}



#Sanghwa {
    width:
}



#heart{
    width:50px;
    height:50px;
}